<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to the server!');
        });

        socket.on('message', function (data) {
            console.log('Received message from ' + data.username + ': ' + data.message);
            // Display the message in the chat room
            var messageElement = document.createElement('div');
            messageElement.textContent = data.username + ': ' + data.message;
            document.getElementById('chat-messages').appendChild(messageElement);
        });


        function sendMessage() {
            var message = document.getElementById('message').value;
            var username = document.getElementById('username').value;
            var data = {
                username: username,
                message: message
            };
            socket.emit('message', data);
        }
    </script>
</head>

<body>
    <div id="chat-messages">

    </div>
    <div name="form">
        <input type="text" id="username" placeholder="Enter your username">
        <br>
        <input type="text" id="message" placeholder="Type a Message">
        <br>
        <button onclick="sendMessage()">send</button>
    </div>
</body>

</html>